{{ define "title" }}Add Game{{ end }}
{{ define "content" }}
<h1>Add Game</h1>

<form action="/save/addgame" method="POST">
  <label for="player1">Player 1</label>
  <select id="player1" name="player1">
    {{range .Players}}
    <option value="{{ .ID.Hex }}">{{ .Nickname }}</option>
    {{end}}
  </select>
  <label for="player2">Player 2</label>
  <select id="player2" name="player2">
    {{range .Players}}
    <option value="{{ .ID.Hex }}">{{ .Nickname }}</option>
    {{end}}
  </select>
  <label for="gametype">Game</label>
  <select id="gametype" name="gametype">
    {{range .GameTypes}}
    <option value="{{ .ID.Hex }}">{{ .Name }}</option>
    {{end}}
  </select>
  <label for="player1score">Player 1 Score</label>
  <input id="player1score" name="player1score" />
  <label for="player2score">Player 2 Score</label>
  <input id="player2score" name="player2score" />
  <div>
    <input type="submit" value="Save">
  </div>
</form>
{{ end }}
