{{ define "title" }}Add Tournament Match{{ end }}
{{ define "content" }}
<h1>{{.Tournament.Name}}</h1>
<h3>Match {{.MatchNumber}} of {{.MatchCount}}</h3>

<form action="/save/addtournamentmatch/{{.Tournament.ID.Hex}}" method="POST">
  <input type="hidden" name="match" value="{{.Match.Id}}" />
  <table class="table">
    <thead>
      <th>Name</th>
      <th>New?</th>
      <th>Existing?</th>
      <th>Score</th>
    </thead>
    <tbody>
      <!--Player 1-->
      <tr>
        <td>{{.Match.PlayerOne.Name}}</td>
        <td class="col-md-4">
          <div class="input-group">
            <span class="input-group-addon">
              <input type="radio" name="player1" value="new">
            </span>
            <input type="text" class="form-control" name="player1newname" value="{{.Match.PlayerOne.Name}}">
          </div>
        </td>
        <td class="col-md-4">
          <div class="input-group">
            <span class="input-group-addon">
              <input type="radio" name="player1" value="select" checked>
            </span>
            <select class="form-control" name="player1select">
              {{range .Players}}
              <option value="{{ .ID.Hex }}">{{ .Nickname }}</option>
              {{end}}
            </select>
          </div>
        </td>
        <td class="col-md-1">
          <input type="number" class="form-control" name="player1score" value="{{.Match.PlayerOneScore}}">
        </td>
      </tr>
      <!--Player 2-->
      <tr>
        <td>{{.Match.PlayerTwo.Name}}</td>
        <td class="col-md-4">
          <div class="input-group">
            <span class="input-group-addon">
              <input type="radio" name="player2" value="new">
            </span>
            <input type="text" class="form-control" name="player2newname" value="{{.Match.PlayerTwo.Name}}">
          </div>
        </td>
        <td class="col-md-4">
          <div class="input-group">
            <span class="input-group-addon">
              <input type="radio" name="player2" value="select" checked>
            </span>
            <select class="form-control" name="player2select">
              {{range .Players}}
              <option value="{{ .ID.Hex }}">{{ .Nickname }}</option>
              {{end}}
            </select>
          </div>
        </td>
        <td class="col-md-1">
          <input type="number" class="form-control" name="player2score" value="{{.Match.PlayerTwoScore}}">
        </td>
      </tr>
    </tbody>
  </table>

  <div>
    <input class="btn btn-default" type="submit" value="Save">
  </div>
</form>
{{ end }}
{{ define "scripts" }}
<script src="/assets/js/addTournamentMatch.js"></script>
{{ end }}
