{{ define "title" }}Add Tournament Match{{ end }}
{{ define "content" }}
<h1>{{.Tournament.Name}}</h1>

{{if not .Complete}}
<div class="alert alert-warning">
  <strong>Heads up!</strong>
  This tournament hasn't been marked as completed. The importer will only add completed matches,
  so you should go to <a href="{{.Tournament.BracketURL}}" class="alert-link">the bracket page</a> and double-check
  that every match has a score that should.
</div>
{{end}}

<form id="form" action="/save/addtournamentmatch/{{.Tournament.ID}}" method="POST">
  <table class="table">
    <thead>
      <th>Name</th>
      <th>New?</th>
      <th>Existing?</th>
    </thead>
    <tbody>
      {{range .Participants}}
      <tr class="participant-row">
        <td>{{.Name}}</td>
        <td class="col-md-4">
          <div class="input-group">
            <span class="input-group-addon">
              <input type="radio" name="p_{{.Id}}" value="new" checked>
            </span>
            <input type="text" class="form-control" name="newname_p_{{.Id}}" value="{{.Name}}">
          </div>
        </td>
        <td class="col-md-4">
          <div class="col-md-1">
            <input type="radio" name="p_{{.Id}}" value="select">
          </div>
          <div class="col-md-8">
            <select class="form-control" name="select_p_{{.Id}}">
            </select>
          </div>
        </td>
      </tr>
      {{end}}
    </tbody>
  </table>

  <div>
    <input class="btn btn-default" type="submit" value="Save">
  </div>
</form>
{{ end }}
{{ define "scripts" }}
  <script src="/assets/js/selectize.min.js"></script>
  <script src="/assets/js/addtournamentmatches.js"></script>
{{ end }}
{{ define "styles" }}
  <link href="/assets/selectize.css" rel="stylesheet">
  <link href="/assets/selectize.bootstrap3.css" rel="stylesheet">
{{ end }}
