{{ define "title" }}Add Tournament{{ end }}
{{ define "content" }}
<h1>Add Tournament</h1>

<form action="/save/addtournament" method="POST">
  <div class="form-group">
    <label form="name">Name</label>
    <input id="name" class="form-control" name="name" placeholder="Name" />
  </div>
  <div class="form-group">
    <label for="gametype">Game Type</label>
    <select id="gametype" name="gametype" class="form-control">
      {{range .GameTypes}}
      <option value="{{ .ID }}">{{ .Name }}</option>
      {{end}}
    </select>
  </div>
  <div class="form-group">
    <label for="url">Challonge URL</label>
    <input id="url" class="form-control" name="url" placeholder="Challonge URL" />
  </div>
  <div class="form-group">
    <label for="city">City</label>
    <input id="city" class="form-control" name="city" placeholder="City" />
  </div>
  <div class="form-group">
    <label for="state">State</label>
    <input id="state" class="form-control" name="state" placeholder="State" />
  </div>
  <button type="submit" class="btn btn-default">Save</button>
</form>
{{ end }}
