{{ define "title" }}Edit Match{{ end }}
{{ define "content" }}
<h1>Edit Match</h1>

{{with .Saved}}
<div class="alert alert-success" role="alert">
  <strong>Success!</strong>
  The match has been updated.
</div>
{{end}}

<form class="form-horizontal" action="/save/match/{{.Match.ID}}" method="POST">
  <div class="form-group">
    <label for="p1" class="col-sm-2 control-label">Player One</label>
    <div class="col-sm-10">
      <select id="p1" name="p1" class="form-control">
        {{range .Players}}
        <option value="{{ .ID }}"
          {{ if eq $.Match.Player1 .ID }}selected{{end}}
        >{{ .Nickname }}</option>
        {{end}}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="p1score" class="col-sm-2 control-label">Player One Score</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" name="p1score" id="p1score" value="{{.Match.Player1score}}">
    </div>
  </div>
  <div class="form-group">
    <label for="p2" class="col-sm-2 control-label">Player Two</label>
    <div class="col-sm-10">
      <select id="p2" name="p2" class="form-control">
        {{range .Players}}
        <option value="{{ .ID }}"
          {{ if eq $.Match.Player2 .ID }}selected{{end}}
        >{{ .Nickname }}</option>
        {{end}}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="p2score" class="col-sm-2 control-label">Player Two Score</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" name="p2score" id="p2score" value="{{.Match.Player2score}}">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="hidden" id="hidden" value="hidden" {{if .Match.Hidden}}checked{{end}}> Hidden
        (Useful for DQs and matches that didn't take place but were needed to adjust the bracket)
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Save</button>
    </div>
  </div>
</form>
{{ end }}
