{{ define "title" }}{{.Player.Nickname}}{{ end }}

{{ define "content" }}

<h1><span style="color: #444">{{.Player.Tag}} </span>{{.Player.Nickname}}</h1>
{{if .CanEdit}}
<a href="/editplayer/{{.Player.URLPath}}">Edit Player</a>
{{end}}
{{with .Player.Twitter}}
<div>Twitter: <a href="https://twitter.com/{{.}}">@{{.}}</a></div>
{{end}}
{{with .Player.Twitch}}
<div>Twitch: <a href="https://twitch.tv/{{.}}">{{.}}</a></div>
{{end}}

{{with .Results}}
<h3>Recent Results</h3>
{{range .}}
<strong>{{.GameType.Name}}</strong>
  {{range .Results}}
  <div>
    {{.Place}} - <a href="/tournament/{{.Tournament.ID}}">{{.Tournament.Name}}</a>
    - {{.Tournament.DateStart.Month}} {{.Tournament.DateStart.Day}}, {{.Tournament.DateStart.Year}}
  </div>
  {{end}}
{{end}}
{{end}}

{{with .Matches}}
<h3>Recent Matches</h3>
{{range .}}
<strong>{{.GameType.Name}}</strong>
  {{range .Matches}}
  <div>
    {{$p1 := index $.PlayerMap .Player1}}
    {{$p2 := index $.PlayerMap .Player2}}
    {{if eq $p1.ID $.Player.ID}}
      {{if gt .Player1score .Player2score}}
        W
      {{else}}
        L
      {{end}}
      vs. <span>
        <a href="/player/{{$p2.URLPath}}">{{$p2.Nickname}}</a>
          ({{.Player1score}}-{{.Player2score}})
        </span>
    {{else}}
      {{if gt .Player2score .Player1score}}
        W
      {{else}}
        L
      {{end}}
      vs. <span>
        <a href="/player/{{$p1.URLPath}}">{{$p1.Nickname}}</a>
        ({{.Player2score}}-{{.Player1score}})
        </span>
    {{end}}
    {{if .Hidden}}
    (Hidden)
    {{end}}
    {{if $.CanEdit}}
    <a href="/edit/match/{{.ID}}">[Edit]</a>
    {{end}}
  </div>
  {{end}}
{{end}}
{{end}}
{{ end }}
