{{ define "title" }}Add User{{ end }}
{{ define "content" }}
<h1>Add User</h1>

{{with .Message}}
<div>{{.}}</div>
{{end}}
<form action="/save/adduser" method="POST">
  <input id="email" name="email" type="email" placeholder="Email" />
  <input id="password" name="password" type="password" placeholder="Password" />
  <input id="passwordAgain" name="passwordAgain" type="password" placeholder="Password (again)" />
  <div>
    <label for="canModifyUsers">Can Modify Users</label>
    <input type="checkbox" name="canModifyUsers" value="1">
  </div>
  <div>
    <input type="submit" value="Save">
  </div>
</form>
{{ end }}
