{{ define "title" }}{{.Tournament.Name}}{{ end }}

{{ define "content" }}
  <h1>{{.Tournament.Name}}</h1>

  {{with .PoolOf}}
  <p>Pool of:
    <a href="/tournament/{{.ID}}">{{.Name}}</a>
  </p>
  {{end}}

  {{if $.IsLoggedIn}}
  <div><a href="/edit/tournament/{{$.Tournament.ID}}">[ Edit Tournament ]</a></div>
  <div><a href="/tournament/delete/{{$.Tournament.ID}}">[ Delete Tournament ]</a></div>
  <div><a href="/addpool/{{$.Tournament.ID}}">[ Add Pool ]</a></div>
  {{end}}

  {{with .Pools}}
    <h3>Pools</h3>
    {{range .}}
      <div><a href="/tournament/{{.ID}}">{{.Name}}</a></div>
    {{end}}
  {{end}}

  <div>Bracket: <a href="{{.Tournament.BracketURL}}">{{.Tournament.BracketURL}}</a></div>

  <h3>Results</h3>
  {{range .Results}}
    {{$p := index $.PlayerMap .Player}}
    <div>
      {{.Place}} - Seeded {{.Seed}}
      - <a href="/player/{{$p.URLPath}}">{{$p.Nickname}}</a>
    </div>
  {{end}}

  <h3>Matches</h3>
  {{range .Matches}}
    {{$p1 := index $.PlayerMap .Player1}}
    {{$p2 := index $.PlayerMap .Player2}}
    <div>
      <a href="/player/{{$p1.URLPath}}">{{$p1.Nickname}}</a>
      vs
      <a href="/player/{{$p2.URLPath}}">{{$p2.Nickname}}</a>
        ({{.Player1score}} - {{.Player2score}})
      {{if .Hidden}}
      (Hidden)
      {{end}}
      {{if $.IsLoggedIn}}
      <a href="/edit/match/{{.ID}}">[Edit]</a>
      {{end}}
    </div>
  {{end}}
{{ end }}
